{% extends 'youth/invite_fb.html' %}
{% load static %}

{% block zocial_content %}
    <div class="content-container container-23 noMarginLeftZero">

        <div class="centeredDiv invitePromote marginTop noPadding">
            <img src="{% static 'youth/images/email-inv.png' %}" class="logo" alt="">

            <div class="block-title invitePromote marginTop"><h3>Spread the word about us. Send email invitation to all
                of your friends. </h3></div>
        </div>

        <!--~~~-->
        <div class="centeredDiv noMarginZero">
            <a href="#" class="zocial amazon">Send invitation by email</a>

        </div>
        <!--~~~-->
    </div>
{% endblock zocial_content %}