{% extends 'youth/invite_fb.html' %}
{% load static %}

{% block zocial_content %}
    <div class="content-container container-23 noMarginLeftZero">

        <div class="centeredDiv invitePromote marginTop noPadding">
            <img src="{% static 'youth/images/tw.png' %}" class="logo" alt="">

            <div class="block-title invitePromote marginTop"><h3>Link your accounts to invite your friends on Twitter to
                follow you on Youth Map

            </h3></div>
        </div>

        <!--~~~-->
        <div class="centeredDiv noMarginZero">
            <a href="#" class="zocial twitter">Sign in with Twitter</a>
        </div>
        <!--~~~-->
    </div>
{% endblock zocial_content %}