{% extends 'youth/resources.html' %}
{% load static %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript">stLight.options({publisher: "03dcbf1b-86e6-4377-a999-adbbd1981efa", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
{% endblock %}

{% block maps %}
    {% include 'youth/gmaps.html' %}
{% endblock maps %}

{% block content %}
    <div class="content-wrapper">
        <div class="zone-content equalize zone clearfix">
            <div class="content-container container-23 mainContainer">
                <div class="content-container container-23 noMarginLeft topBar">
                    <div class="content-container container-20 noMarginLeft">
                        <div class="iconTitle"><span aria-hidden="true" class="svg" data-icon="&#xe01c;"></span>
                            Media resource
                        </div>
                    </div>
                    <div class="content-container container-5 noMarginLeft">
                        <a href="{% url 'media' %}">
                            <div class="backBtn"><span aria-hidden="true" class="svg" data-icon="&#xf0a8;"></span>Back
                                to List
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ~~~~~ LEFT COLUMN ~~~~-->
                <div class="content-container container-20 noMarginLeft">
                    <div class="single-company block">
                        <div class="company-info clearfix">
                            <div class="company-info-description">
                                <div class="breadcrumbs">
                                    <a href="{% url 'home' %}"><i>Home</i></a>
                                    <span></span>
                                    <a href="{% url 'media' %}"><i>New Media</i></a>
                                </div>

                                <div class="company-listingResDetail clearfix">
                                    <div class="listing-body">
                                        <div class="container-20 noMarginLeft">
                                            <div class="block-title mainTitle"><h2>{{ mediaresource.title }}</h2></div>
                                        </div>

                                        {% if mediaresource.owner == request.user %}
                                            <div class="content-container noMarginLeft marginTop2">
                                                <a href="{% url 'media_resource_update' mediaresource.pk %}"
                                                   class="lightDark button2 noMarginTop">
                                                    <span aria-hidden="true" class="svg" data-icon=""></span>Edit this
                                                    media resource</a>
                                            </div>{% endif %}
                                    </div>
                                </div>

                                <div class="description">
                                    <span class="descriptionTitle">Description</span><br/>
                                    {{ mediaresource.description }}
                                </div>

                                {% if mediaresource.similar %}
                                    <div class="description">
                                    <span class="descriptionTitle">This resource is similar to (what other resources?) </span><br/>
                                    {{ mediaresource.similar }}
                                    </div>{% endif %}

                                {% if mediaresource.partners %}
                                    <div class="description">
                                    <span class="descriptionTitle">Partners (who else is involved?) </span><br/>
                                    {{ mediaresource.partners }}
                                    </div>{% endif %}

                                {% if mediaresource.link %}
                                    <div class="description">
                                    <span class="descriptionTitle">Link</span><br/>
                                    {{ mediaresource.link|urlize }}
                                    </div>{% endif %}

                                {% if mediaresource.attachment %}
                                    <div class="description">
                                        <div class="descriptionTitle">Attachments</div>
                                        <span aria-hidden="true" class="svgfooter" data-icon="&#xe019;"></span>
                                        <a target="_blank"
                                           href="{{ mediaresource.attachment.url }}">{{ mediaresource.attachment }}</a>
                                    </div>
                                {% endif %}
                                {% if mediaresource.tags.all %}
                                    <div class="description">
                                    <div class="descriptionTitle">Tags</div>
                                    {% for label in mediaresource.tags.all %}
                                        <div data-alert class="alert-box tags">{{ label }}</div>
                                    {% endfor %}
                                    <div style="clear:both;"></div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/single-company-->
                </div>

                <div class="sidebarGray container-5">
                    <div class="sidebarGrayContainer">
                        <h3 class="block-title" style="margin-bottom:10px;">Share</h3>
                        <span class='st_facebook_hcount' displayText='Facebook'></span>
                        <span class='st_twitter_hcount' displayText='Tweet'></span>
                        <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                        <span class='st_email_hcount' displayText='Email'></span>
                    </div>
                </div>
            </div>
            <!-- end of .content-container -->
        </div>
        <!-- end of .content-wrapper -->
{% endblock content %}