{% extends 'youth/profile.html' %}
{% load static %}
{% load filters %}
{% load thumbnail %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'youth/select2/css/select2.min.css' %}"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'youth/css/bootstrap3/jquery.fileupload.css' %}"/>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'youth/js/fileupload/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth/js/fileupload/load-image.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth/js/fileupload/canvas-to-blob.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth/js/fileupload/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth/js/fileupload/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth/js/fileupload/jquery.fileupload-process.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth/js/fileupload/jquery.fileupload-image.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_country').change(function (e) {
                $.get('/cities/' + this.value, function (data) {
                    var city_dom_id = '#id_city';
                    $(city_dom_id).empty();
                    for (var i = 0; i < data.length; i++) {
                        var city = data[i];
                        $('<option>').val(city.pk).text(city.fields.name).appendTo(city_dom_id);
                    }
                });
            });

            {% for label in form.instance.field_of_activity.all %}
                {% if label|safe == 'Other' %}
                    $('#other-li').show();
                {% endif %}
            {% endfor %}

            $('#id_field_of_activity').on('change', function (e, choice) {
                var data = $(this).select2('data');
                var other = false;
                $.each(data, function (index, element) {
                    if (element.text.toLowerCase() == 'other') {
                        other = true;
                    }
                });
                if (other) {
                    {#                    $('#id_other_field_of_activity').show();#}
                    $('#other-li').show();
                } else {
                    $('#other-li').hide();
                    $('#id_other_field_of_activity').val('');
                }
            });

            $('#upload-button').click(function () {
                $('#id_photo').trigger('click');
            });

            $('#id_photo').fileupload({
                {#                fileInput:$(this),#}
                replaceFileInput: false,
                url: 'localhost',
                dataType: 'json',
                autoUpload: false,
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 5000000, // 5 MB
                // Enable image resizing, except for Android and Opera,
                // which actually support image resizing, but fail to
                // send Blob objects via XHR requests:
                disableImageResize: /Android(?!.*Chrome)|Opera/
                        .test(window.navigator.userAgent),
                previewMaxWidth: 98,
                previewMaxHeight: 120,
                previewCrop: true
            }).on('fileuploadadd',function (e, data) {
                        data.context = $('#file-upload-name').empty();
                        $.each(data.files, function (index, file) {
                            var node = $('<span/>').append(file.name).prepend('<br/>');
                            node.appendTo(data.context);

                            if ($('#2nd-upload-submit').attr('id') == null) {
                                $('#upload-button').after('<button id="2nd-upload-submit" type="submit" class="medium blue button2 marginSemiTop">' +
                                        '<span aria-hidden="true" class="green svgSemi4Btn" data-icon="&#xe04b;"></span>' +
                                        'Upload</button>'
                                );
                            }
                        });
                    }).on('fileuploadprocessalways', function (e, data) {
                        var index = data.index,
                                file = data.files[index],
                                node = $(data.context.children()[index]);

                        {#                        $('#fileupload').val(file.name);#}
                        if (file.preview) {
                            $('#profile-photo').empty().append(file.preview);
                        }
                        if (file.error) {
                            node.append($('<span class="text-danger"/>').text(file.error));
                        }
                    });
        });

    </script>

{% endblock %}

{% block innner_profile_content %}
    <div class="company-listing clearfix">
        <div class="listing-body">
            <div class="editing-btns">
                <a href="{% url 'profile_edit' %}">
                    <div class="profileStepActiveNormal">1.Organisation Profile</div>
                </a>
                <a href="{% url 'profile_complete' %}">
                    <div class="profileStepActive">2.Complete your profile</div>
                </a>
            </div>
        </div>
    </div>

    <form id="basic-profile-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="company-listing clearfix">
            <div class="listing-body">
                <div class="container-24">
                    <div class="blueTitle">Organisation Additional Information</div>
                    {#                    {{ form.errors }}#}
                </div>
                <div class="container-24">
                    <ul id="form-section-myAccount">
                        <li>
                            <label>
                                <div class="fieldTitle">Mission</div>
                                {{ form.mission }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Objectives</div>
                                {{ form.objectives }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Target group</div>
                                {{ form.target_group }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Achievements</div>
                                {{ form.achievements }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Partners</div>
                                {{ form.partners }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Level of Activity</div>
                                {{ form.level_of_activity }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Number of Members</div>
                                {{ form.number_of_members }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Contact Person Name</div>
                                {{ form.contact_person_name }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Official Position</div>
                                {{ form.official_position }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Email</div>
                                {{ form.email }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Telephone</div>
                                {{ form.telephone }}
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="fieldTitle">Tags</div>
                                {{ form.tags }}
                            </label>
                        </li>
                        <div style="clear:both;"></div>
                    </ul>
                    <!-- END OF REGISTER FORM -->
                </div>
            </div>
        </div>
        <!--~~~-->
        <!--~~~-->
        <div class="company-listing clearfix">
            <div class="listing-body">
                <div class="container-24">
                    <div class="centeredDiv">
                        <button class="medium green button2 save marginSemiTop" type="submit" id="save">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock innner_profile_content %}