{% extends 'youth/organisations.html' %}
{% load static %}
{% load filters %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'youth/js/jquery.rater.js' %}"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('#{{ project|to_class_name }}_{{ project.pk }}').rater({ postHref: '{% url 'rate' %}' });
            });
        });
    </script>
{% endblock %}


{% block maps %}
    {% include 'youth/gmaps.html' with object_list=project %}
{% endblock maps %}

{% block content %}
    <div class="content-wrapper">
        <div class="zone-content equalize zone clearfix">
            <div class="content-container container-23 mainContainer">
                <div class="content-container container-23 noMarginLeft topBar">
                    <div class="content-container container-20 noMarginLeft">
                        <div class="iconTitle"><span aria-hidden="true" class="svg" data-icon="&#xe01c;"></span>An
                            {% for label in project.field_of_activity.all %}
                                {{ label }}
                            {% endfor %}
                            Project
                        </div>
                    </div>
                    <div class="content-container container-5 noMarginLeft">
                        <a href="{% url 'project_list' %}">
                            <div class="backBtn"><span aria-hidden="true" class="svg" data-icon="&#xf0a8;"></span>Back
                                to List
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ~~~~~ LEFT COLUMN ~~~~-->
                <div class="content-container container-20 noMarginLeft">
                    <div class="single-company block">
                        <div class="company-info clearfix">
                            <div class="company-info-description">
                                <div class="breadcrumbs">
                                    <a href="{% url 'home' %}"><i>Home</i></a>
                                    <span></span>
                                    <a href="{% url 'project_list' %}"><i>Projects</i></a>
                                </div>
                                <div class="block-title mainTitle"><h2>{{ project.title }}</h2>
                                </div>
                                <span class="underTitle">
                                    A{{ project.field_of_activity.all.0.name|startswith:'I O E' }}
                                    {% for label in project.field_of_activity.all %}
                                        <span>{{ label }}{% if not forloop.last %},{% endif %}</span>
                                    {% endfor %} Project by
                                    {% if project.owner.profile %}
                                        <a href="{% url 'profile' project.owner.profile.id %}">{{ project.owner.get_full_name }}</a>
                                    {% elif project.owner.organisation %}
                                        <a href="{% url 'organisation' project.owner.organisation.id %}">{{ project.owner.organisation.title }}</a>
                                    {% endif %} | Location: <span>{{ project.city }}</span>
                                </span>

                                {% if project.owner == request.user %}
                                    <div class="content-container noMarginLeft marginTop2">
                                        <a href="{% url 'project_update' project.pk %}"
                                           class="lightDark button2 noMarginTop">
                                            <span aria-hidden="true" class="svg" data-icon=""></span>Edit this project</a>
                                    </div>
                                {% endif %}

                                {% if project.slogan %}
                                    <div class="description">
                                        <span class="descriptionTitle">Project slogan</span><br/>
                                        {{ project.slogan|linebreaks }}
                                    </div>
                                {% endif %}

                                {% if project.problem_addressed%}<div class="description">
                                    <span class="descriptionTitle">Problem addressed</span><br/>
                                    {{ project.problem_addressed|linebreaks }}
                                    </div>
                                {% endif %}
                                <!--~~~-->
                                <!--~~~-->
                                <div class="description">
                                    <span class="descriptionTitle">Description</span><br/>
                                    {{ project.description|linebreaks}}

                                </div>
                                <!--~~~-->
                                <!--~~~-->
                                {% if project.objectives %}
                                    <div class="description">
                                    <span class="descriptionTitle">Objectives</span><br/>
                                    {{ project.objectives|linebreaks }}
                                    </div>{% endif %}
                                <!--~~~-->

                                <!--~~~-->
                                {% if project.milestones %}
                                    <div class="description">
                                    <span class="descriptionTitle">Milestones</span><br/>
                                    {{ project.milestones|linebreaks }}

                                    </div>{% endif %}

                                <div class="description">
                                    {% if project.resources.all or project.resources_needed.all %}
                                        <span class="descriptionTitle">Resources</span><br/>{% endif %}
                                    <span class="underTitle resourcesTitle need">
                                    {% if project.resources.all %}<strong>We have:</strong>{% endif %}
                                        {% for label in project.resources.all %}
                                            <span>{{ label }}{% if not forloop.last %},{% endif %}</span>
                                        {% endfor %}
                                    </span>
                                    <br/>
                                <span class="underTitle resourcesTitle need">
                                    {% if project.resources_needed.all %}<strong>We need:</strong>{% endif %}
                                    {% for label in project.resources_needed.all %}
                                        <span>{{ label }}{% if not forloop.last %},{% endif %}</span>
                                    {% endfor %}
                                </span>
                                </div>
                                {% if project.other_needs %}
                                    <div class="description">
                                    <span class="descriptionTitle">Other Needs</span><br/>
                                    {{ project.other_needs }}

                                    </div>{% endif %}
                                {% if project.tags.all %}
                                    <div class="description">
                                    <div class="descriptionTitle">Tags</div>
                                    {% for label in project.tags.all %}
                                        <div data-alert class="alert-box tags">{{ label }}</div>
                                    {% endfor %}
                                    <div style="clear:both;"></div>
                                    </div>{% endif %}
                                <div style="clear:both;"></div>
                                {% if project.attachment %}
                                    <div class="description">
                                        <div class="descriptionTitle">Attachments</div>
                                        <span aria-hidden="true" class="svgfooter" data-icon="&#xe019;"></span>
                                        <a target="_blank"
                                           href="{{ project.attachment.url }}">{{ project.attachment }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/single-company-->
                </div>

                <div class="sidebarGray container-5">
                    <div class="sidebarGrayContainer">
                        <h3 class="block-title">Project Timeline</h3>

                        {#                        <div class="progress"><span class="meter"></span></div>#}
                        <div class="marunt">
                            <p>{{ project.start_date|date }} - {{ project.end_date|date|default:'present' }}</p>

                            {% if project.start_date|timeuntil|minutes > 0 %}
                                <p><strong>{{ project.start_date|timeuntil }} until start</strong></p>
                            {% elif project.end_date|timeuntil|minutes > 0 %}
                                <p><strong>{{ project.end_date|timeuntil }} left</strong></p>
                            {% endif %}

                            <p>Status:
                                {% if project.start_date|timeuntil|minutes > 0 %}
                                    <strong class="textColorRed">Not started</strong>
                                {% elif project.end_date|timeuntil|minutes == 0 %}
                                    <strong class="textColorGreen">Completed</strong>
                                {% else %}
                                    <strong class="textColorBlue">In progress</strong>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                {% if project.budget %}
                    <div class="sidebarGray container-5">
                        <div class="sidebarGrayContainer">
                            <h3 class="block-title">Budget</h3>

                            <div class="marunt"><p>{{ project.budget }} €</p></div>
                        </div>
                    </div>{% endif %}

                <div class="sidebarGray container-5">
                    <div class="sidebarGrayContainer">
                        <h3 class="block-title">Contact</h3>
                        <span class="underTitle"><strong>{{ project.owner.get_full_name }}</strong><br/>
                            <i>{{ project.owner.profile.title }}{{ project.owner.organisation.title }}</i></span><br/>
                        <span class="underTitle"><strong>Email</strong><br/><i>{{ project.owner.email }}</i></span><br/>
                        {#                        <span class="underTitle"><strong>Telephone</strong><br/><i>0040755989636</i></span> <br/>#}
                    </div>
                </div>

                <div class="sidebarGray container-5">
                    <div class="sidebarGrayContainer">
                        <h3 class="block-title">Rate this project</h3>

                        <div id="{{ project|to_class_name }}_{{ project.pk }}" class="stat">
                            <label for="rating"></label>

                            <div class="statVal">
                                <span class="ui-rater">
                                    <span class="ui-rater-starsOff" style="width:90px;">
                                        <span class="ui-rater-starsOn" style="width:63px"></span>
                                    </span>
                                    <span class="ui-rater-rating">{{ project.rating.score }}</span>&#160;
                                    (<span class="ui-rater-rateCount">{{ project.rating.votes }}</span>)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebarGray container-5">
                    <div class="sidebarGrayContainer">
                        <h3 class="block-title" style="margin-bottom:10px;">Share</h3>
                        <span class='st_facebook_hcount' displayText='Facebook'></span>
                        <span class='st_twitter_hcount' displayText='Tweet'></span>
                        <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                        <span class='st_email_hcount' displayText='Email'></span>
                    </div>
                </div>

            </div>
        </div>
        <!-- end of .content-container -->
    </div><!-- end of .content-wrapper -->
{% endblock content %}