{% extends 'youth/home.html' %}
{% load static %}
{% load navigation %}
{% load filters %}
{% load thumbnail %}

{% block maps %}
    {% include 'youth/gmaps.html' with object_list=resources %}
{% endblock maps %}

{% block what_to_do %}{% endblock %}

{% block articles %}{% endblock %}

{% block content %}
    <div class="content-container container-24 contentRes">

        <!-- COLOANA STANGA-->

        {#            <div class="content-container container-24 contentRes">#}
        <!--TITLE BAR-->
        <div class="content-container container-23 noMarginLeft topBarRes">
            {% block extra_action %}
                <div class="content-container container-20 noMarginLeft">
                    <div class="iconTitleRes"><span aria-hidden="true" class="svg" data-icon="&#xe00c;"></span>Resources
                    </div>
                </div>
                {% comment %}<div class="content-container container-5 noMarginLeft">
                    <a href="{% url 'organisation_add' %}">
                        <div class="addBtn"><span aria-hidden="true" class="svg" data-icon="&#xe00f;"></span>
                            Add an organisation
                        </div>
                    </a>
                </div>{% endcomment %}
            {% endblock %}
        </div>

        <!--END TITLE BAR-->
        <!--BLUE MENU-->
        <div class="sidebarGray container-5">
            <div class="blueMenuRes">
                <div class="left-boxRes browseRes">
                    <ul class="side-navRes">
                        <li class="{% current 'organisations' %}"><a href="{% url 'organisations' %}">Organisations
                            Catalog</a></li>
                        <li class="{% current 'member_list' %}"><a href="{% url 'member_list' %}">YouthMap
                            Members</a></li>
                        <li class="{% current 'events' %}"><a href="{% url 'events' %}">Events</a>
                        </li>
                        <li class="{% current 'media' %}"><a href="{% url 'media' %}">New Media</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/BLUE MENU-->
        <!--RESOURCES CONTENT-->
        <div class="content-container container-20 noMarginLeft">
            <div class="companies-listings block brdLeft">
                {% block inner_list %}
                    {% for resource in resources %}
                        {% if resource|to_class_name == 'Organisation' %}
                            <div class="company-listing clearfix">
                                <div class="listing-body">
                                    {% if resource.photo %}
                                        {% thumbnail resource.photo '100' crop="center" format="PNG" as im %}
                                            <div class="container-4 noMargin">
                                                <a href="{% url 'organisation' resource.id %}"
                                                   class="thbig userMyAccountPic">
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                </a>
                                            </div>
                                        {% endthumbnail %}
                                    {% else %}
                                        <div class="container-4 noMargin">
                                            <a href="{% url 'organisation' resource.id %}" class="thbig userMyAccountPic">
                                            <img src="{% static 'youth/images/members/no-pic.jpg' %}">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="container-20 marginLeft">
                                        <div class="listing-title">
                                            <a href="{% url 'organisation' resource.id %}">
                                                {{ resource.title }}
                                            </a>
                                        </div>

                                        <span class="underTitle">
                                            A{{ resource.field_of_activity.all.0.name|startswith:'I O E' }}
                                            {% for label in resource.field_of_activity.all %}
                                                <span>{{ label }}{% if not forloop.last %},{% endif %}</span>
                                            {% endfor %} {{ resource|to_class_name }}
                                            {{ resource.other_field_of_activity }}
                                            | Location: <span> {{ resource.city }}</span>
                                        </span>

                                        <div class="listing-text">{{ resource.values|truncatechars:290 }}</div>
                                        <span class="listing-read-more">
                                            <a href="{% url 'organisation' resource.id %}">
                                                <span aria-hidden="true" class="svg" data-icon="&#xf0a9;"></span>More
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% elif resource|to_class_name == 'Event' %}
                            <div class="company-listing clearfix">
                                <div class="listing-body">
                                    <div class="container-3 noMargin">
                                        <a href="{{ resource.get_absolute_url }}">
                                            <div class="calendar">{{ resource.start_date|date:'M' }}
                                                <p>{{ resource.start_date|date:'d' }}</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="container-21 marginLeft marginBottomMini">
                                        <div class="listing-title">
                                            <a href="{% url 'event' resource.id %}">
                                                {{ resource.title }}</a>
                                        </div>
                                        <div class="holderLeft">
                                            <div class="underTitle date lineHeight"><strong>{{ resource.start_date|date }}
                                                - {{ resource.end_date|date|default:'present' }}</strong><br/></div>
                                            <div class="underTitle lineHeight">Location:<span>{{ resource.city }}</span>
                                            </div>
                                            <div class="underTitle lineHeight ">Field of activity:
                                                {% for item in resource.field_of_activity.all %}
                                                    <span>{{ item }}{% if not forloop.last %},{% endif %}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif resource|to_class_name == 'MediaResource' %}
                            <div class="company-listing clearfix">
                                <div class="listing-body">
                                    {% comment %}<div class="container-3 noMargin">
                                        <a href="{{ resource.link }}" target="_blank">
                                            <div class="iconTh"><img
                                                    src="{% static 'youth/images/iconTh/video.png' %}"/>
                                            </div>
                                        </a>
                                    </div>{% endcomment %}
                                    <div class="container-24 marginLeft">
                                        <div class="listing-title">
                                            <a href="{% url 'media_resource_update' resource.id %}">
                                                {{ resource.name }}
                                            </a>

                                            <div class="underTitle location">
                                                <a target="_blank" href="{{ resource.link }}">{{ resource.link }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% comment %}{% for o in organisation_list %}
                        <div class="company-listing clearfix">
                            <div class="listing-body">
                                {% if o.photo %}
                                    {% thumbnail o.photo '90x90' crop="center" format="PNG" as im %}
                                        <div class="container-4 noMargin">
                                            <a href="{% url 'organisation' o.id %}"
                                               class="thbig noMrg userMyAccountPic">
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                            </a>
                                        </div>
                                    {% endthumbnail %}
                                {% else %}
                                    <div class="container-4 noMargin">
                                        <a href="{% url 'organisation' o.id %}"
                                           class="thbig marginBtm userMyAccountPic">
                                            <img src="{% static 'youth/images/members/no-pic.jpg' %}">
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="container-20 marginLeft">
                                    <div class="listing-title">
                                        <a href="{% url 'organisation' o.id %}">
                                            <h6>{{ o.title }}</h6>
                                        </a>
                                    </div>

                                    <div class="underTitle location lineHeight">Field of activity:
                                        {% for item in o.field_of_activity.all %}
                                            <span>{{ item }}{% if not forloop.last %},{% endif %}</span>
                                        {% endfor %}
                                        <span>{{ o.other_field_of_activity }}</span>
                                    </div>

                                    <div class="holderLeft">
                                        <div class="underTitle location lineHeight">Location: <span>{{ o.city }}</span>
                                        </div>
                                        <div class="underTitle location lineHeight">Year of
                                            foundation: <span>{{ o.year }}</span></div>
                                    </div>
                                    <div class="holderLeft">
                                        <div class="underTitle location lineHeight">
                                            <span aria-hidden="true" class="svgSemi" data-icon="&#xf0f6;"></span>
                                            Projects completed: <span>{{ o.owner.project_set.count }}</span>
                                        </div>
                                        <div class="underTitle location lineHeight">
                                            <span aria-hidden="true" class="svgSemi" data-icon="&#xe042;"></span>
                                            Followers: <span>{{ o.owner.followers_set.count }}</span>
                                        </div>
                                        <div class="underTitle location lineHeight">
                                            <span aria-hidden="true" class="svgSemi" data-icon="&#xe02c;"></span>
                                            Members: <span>{{ o.number_of_members }}</span>
                                        </div>
                                    </div>
                                    <div class="listing-text">{{ o.values|truncatechars:300 }}
                                        <span class="listing-read-more">
                                            <a href="{% url 'organisation' o.id %}">
                                                <span aria-hidden="true" class="svg"
                                                      data-icon="&#xf0a9;"></span>
                                                More</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}{% endcomment %}
                {% endblock %}

            </div>
            <!--END COMPANIES LISTINGS-->
        </div>
        <!--END RESOURCES CONTENT-->
    </div>
{% endblock content %}