{% extends 'youth/resources.html' %}

{% block maps %}
    {% include 'youth/gmaps.html' with object_list=event_list %}
{% endblock maps %}

{% block content %}
    <div class="block-title mainTitle marginBottomMini">Upcoming events</div>

    <div class="responsive-iframe-container">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;hl=en_GB&amp;bgcolor=%23ffffff&amp;src=ibi_bee%40yahoo.com&amp;color=%23182C57&amp;ctz=Europe%2FBucharest"
                style=" border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}

